/*
Colores:
https://colorhunt.co/palette/66806ab4c6a6ffc286fff1af
#66806A
#B4C6A6
#FFC286
#FFF1AF



color de textos:
#757575





*/
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;1,700&family=Lato:ital,wght@0,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');
<style> */
h1 {
  font-family: "Arvo", serif; }

h2 {
  font-family: "Arvo", serif; }

h3 {
  font-family: "Lato", sans-serif; }

h4 {
  font-family: "Lato", sans-serif; }

p {
  font-family: "Lato", sans-serif; }

body {
  background-image: url(../assets/img/fondo.png);
  width: 100%;
  overflow-x: hidden; }

/* style="background-image: url(../assets/img/fondo.png)" */
.main-contacto {
  margin-top: 70px;
  margin-bottom: 200px; }
  .main-contacto h1 {
    color: #FFA500;
    font-size: 60px;
    text-shadow: 5px 7px 8px rgba(66, 28, 17, 0.788); }

.label-contacto {
  margin: 10px 10px 10px 10px; }
  .label-contacto span {
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 40px;
    text-align: center;
    padding: 10px 10px 10px 10px; }

.dejame-datos {
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.801);
  border-radius: 40px;
  text-align: start;
  padding: 10px 10px 10px 10px; }

.main-index {
  margin-top: 70px;
  margin-bottom: 200px; }
  .main-index h1 {
    color: #FFA500;
    font-size: 60px;
    text-shadow: 5px 7px 8px rgba(66, 28, 17, 0.788); }

.carouselino {
  margin-right: 10px;
  margin-left: 10px; }

.carousel-item {
  background-color: #B4C6A6;
  background-image: linear-gradient(315deg, #B4C6A6 0%, #233329 74%);
  border-radius: 20px; }

.about-index {
  font-size: 40px;
  color: #CAA74E;
  text-shadow: 3px 3px 3px black;
  background-color: rgba(255, 255, 255, 0.712);
  border-radius: 40px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 20px; }
  .about-index a {
    text-decoration: none;
    color: #CAA74E;
    font-weight: 700; }
  .about-index strong {
    font-weight: 700;
    font-size: 60px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.582); }

.index-descripcion-larga {
  font-size: 15px;
  background-color: white;
  border-radius: 40px;
  text-align: center;
  margin: 10px 10px 10px 10px;
  margin-left: 20px; }
  .index-descripcion-larga p {
    margin: 10px 10px 10px 10px; }

.main-about {
  margin-top: 70px;
  margin-bottom: 200px; }
  .main-about h1 {
    color: #FFA500;
    font-size: 60px;
    text-shadow: 5px 7px 8px rgba(66, 28, 17, 0.788); }

.soy-about {
  font-size: 25px;
  color: #757575; }
  .soy-about h2 {
    font-size: 40px;
    color: #CAA74E;
    text-shadow: 3px 3px 3px black;
    background-color: rgba(255, 255, 255, 0.712);
    border-radius: 40px;
    margin-left: 10px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px; }
  .soy-about strong {
    font-weight: 700;
    font-size: 60px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.582); }
  .soy-about h4 {
    font-size: 15px;
    background-color: white;
    border-radius: 40px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px; }

.main-shop {
  margin-top: 70px;
  margin-bottom: 200px; }
  .main-shop h1 {
    color: #FFA500;
    font-size: 60px;
    text-shadow: 5px 7px 8px rgba(66, 28, 17, 0.788); }

.body-shop {
  min-height: 100vh;
  margin: 0;
  position: relative;
  height: 100%; }

.main-portfolio {
  padding-top: 70px;
  padding-bottom: 240px; }
  .main-portfolio h1 {
    color: #FFA500;
    font-size: 60px;
    text-shadow: 5px 7px 8px rgba(66, 28, 17, 0.788); }

.carousel-control-prev-icon {
  background-color: #FFC286;
  border-radius: 10px; }

.carousel-control-next-icon {
  background-color: #FFC286;
  border-radius: 10px; }

.navbar {
  background-color: #FFF1AF; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #66806A;
  height: auto;
  width: 100%;
  padding-top: 30px;
  color: #0a0a0a; }
  footer h3 {
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: right;
    color: #B4C6A6;
    margin-right: 10px; }

.link-redes-contenedor {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }

.link-redes {
  width: 40px;
  margin: 10px 10px 10px 10px; }

.footer-bottom p {
  text-align: end;
  font-size: 10px;
  opacity: .4; }
