



$primary: #66806A;
$lightprimary: #B4C6A6;
$accent: #FFC286;
$brightaccent: #FFA500;
$navbar: #FFF1AF;
$texts: #757575;
$bubble: #CAA74E;


/* https://colorhunt.co/palette/66806ab4c6a6ffc286fff1af */






$tipo1: 'Arvo', serif;
$tipo2: 'Lato', sans-serif;




    h1{
        font-family: $tipo1;
    }
    h2{
        font-family: $tipo1;
    }
    h3{
        font-family: $tipo2;
    }
    h4{
        font-family: $tipo2;
    }
    p{
        font-family: $tipo2;
    }
