footer {
	z-index:10000;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $primary;
	height: auto;
	width: 100%;
	padding-top: 30px;
	color: #0a0a0a;

	h3 {
		font-size: 30px;
		font-weight: 500;
		text-transform: capitalize;
		text-align: right;
		color: $lightprimary;
		margin-right: 10px;
	}
}

.link-redes-contenedor {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.link-redes {
	width: 40px;
	margin: 10px 10px 10px 10px;
}
.footer-bottom {
	p {
		text-align: end;
		font-size: 10px;
		opacity: .4;
	}
}
