

.main-contacto{
    margin-top: 70px;
    margin-bottom: 200px;
    h1{
        color: $brightaccent;
        font-size: 60px;
        text-shadow: 5px 7px 8px rgba(66, 28, 17, 0.788);
    }

}

.label-contacto{
    margin: 10px 10px 10px 10px;
    span{
        font-size: 15px;
        background-color: rgba(255, 255, 255, 0.514);
        border-radius: 40px;
        text-align: center;
        padding: 10px 10px 10px 10px;
    } 
}

.dejame-datos{
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 40px;
    text-align: start;
    padding: 10px 10px 10px 10px;
}